<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holiday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".startup.User_Active"></activity>
        <activity android:name=".YourPost_Like.List_Post" />
        <activity android:name=".Edit_Account.Edit_account" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA4GHayq3AVbLLaSeipU3lC63tzDF8DWY4" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".Setting.Change_Password" />
        <activity android:name=".Setting.Setting" />
        <activity android:name=".Login_Register.Register" />
        <activity android:name=".Login_Register.Login" />
        <activity android:name=".Login_Register.UserAccount" />
        <activity android:name=".startup.Startup" />
        <activity android:name=".Edit_Account.Choose_type"/>
        <activity android:name=".Buy_sell_rent.Sell.Detail_product.Detail_computer" />
        <activity android:name=".Buy_sell_rent.Sell.Detail_product.Detail_phone" />
        <activity android:name=".Buy_sell_rent.Rent.Detail_product.Detail_Home" />
        <activity android:name=".Buy_sell_rent.Rent.Category.Home" />
        <activity android:name=".Buy_sell_rent.Rent.Rent" />
        <activity android:name=".Buy_sell_rent.Sell.Category.Electronic" />
        <activity android:name=".Buy_sell_rent.Sell.Category.Vehicles" />
        <activity android:name=".Buy_sell_rent.Sell.Category.Computer_Accessories" />
        <activity android:name=".New_post_product.Detail_new_product" />
        <activity android:name=".Buy_sell_rent.Sell.Category.Phone_and_Tablet" />
        <activity android:name=".Buy_sell_rent.Sell.Sell" />
        <activity android:name=".Buy_sell_rent.Buy.Category.Electronic" />
        <activity android:name=".Buy_sell_rent.Buy.Category.Vehicles" />
        <activity android:name=".Buy_sell_rent.Buy.Category.Computer_Accessories" />
        <activity android:name=".Buy_sell_rent.Buy.Category.Phone_and_Tablet" />
        <activity android:name=".Buy_sell_rent.Buy.Buy" />
        <activity android:name=".fragments.Choose_category.Choose_Category"/>
        <activity android:name=".New_Activity.Detail_new_post" />
        <activity android:name=".startup.Login"></activity>
        <activity android:name=".startup.Login" />
        <activity android:name=".YourPost_Like.List_Post"/>
        <activity
            android:name=".New_Activity.User_post"
            android:label="@string/title_activity_user_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Product_discount.Detail_pro_discount" />
        <activity android:name=".New_Activity.Activity_Like" />
        <activity android:name=".Product_discount.Discount_more_data" />
        <activity android:name=".New_Activity.Search" />
        <activity
            android:name=".startup.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>